.MiniLogLink{

        font-size: 10px;
        font-weight: 500;
        line-height: 12px;
        
        color: #01579B;
        text-align: right;
}
.lastWith{
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;

    color: #000;
    width: auto;
}