.ReviewsInstagramSection{
    height: 250px;
    align-content: space-between;
    padding: 0px 10px;

    h2.comUniH2{
        text-align: left;
        margin-bottom: 24px !important;
        font-size: 28px;
        font-weight: 450;
        line-height: 32px;
        color: rgba(51, 51, 51, 1);
    }
    p.miniLink{
        margin-top: 20px !important;
        color: rgba(1, 87, 155, 1);
        font-size: 13px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.02em;
        text-align: right;
    }
    .CommentBox{
        display: flex;
        height: 150px;
        padding: 5px !important;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        text-align: left;
    
    
        .CommentLeft{
            width: 15%;
    
            img{
                object-fit: contain;
                width: 90%;
                margin: auto !important;
            }
        }
    
        .CommentMiddle{
            max-width: 65%;
            padding-right: 7px !important;
            border-right: 1px solid rgba($color: #000000, $alpha: .1);
            position: relative;
    
            .slider-container{
                width: 100%;
                position: unset;
                .slick-slider{
                    position: unset;
    
                    .slick-prev:before, .slick-next:before  {
                        background: none;
                        font-family: 'cursive';
                        color: #0400ff;
                        position: absolute;
                        top: -60px;
                    }
        
                    .slick-prev:before{
                        right: -300px;
                    }
                    .slick-next:before{
                        right: 30px;
                    }
                }
    
    
                .slick-slide{
                    div{
                        justify-items: start;
                        h5{
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 24px;
                            width: 100%;
                            text-align: left !important;
                            color: #060F42 ;
                        }
            
                        p{
                            font-family: 'Lato';
                            font-size: 12px;
                            font-weight: 360;
                            line-height: 20px;
                            color: rgba(102, 102, 102, 1);
                        }
                    }
                }
    
                .comStarDate{
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    
                    .comStar{
                        width: auto;
                    }
                    .comDate{
                        width: auto;
                    }
                }
            }
        }
    
        .CommentRight{
            display: flex;
            flex-direction: column;
            gap: 6px;
            justify-items: center;
            text-align: center;
            .overAllRating{
                font-size: 48px;
                font-weight: 900;
                line-height: 57.6px;
                color: rgba(6, 15, 66, 1);
            }
    
            .allComs{
                font-size: 12px;
                font-weight: 500;
                line-height: 12px;
                color: rgba(1, 87, 155, 1);
            }
        }
    }
}
    