.InstagramPart {
    display: flex;  // Make it a flex container
    flex-wrap: wrap;  // Allow wrapping into multiple lines
    justify-content: space-between !important;
    align-content: space-between !important;  // Now it will work if items wrap
    height: 230px;
    padding: 0px 10px !important;

    h2.comUniH2{
        width: 100%;
        text-align: left;
        margin-bottom: 24px !important;
        font-size: 28px;
        font-weight: 450;
        line-height: 32px;
        color: rgba(51, 51, 51, 1);
    }
    p.miniLink{
        width: 100% !important;
        margin-top: 30px !important;
        color: rgba(1, 87, 155, 1);
        font-size: 13px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.02em;
        text-align: right;
    }

    .InstaImgs{
        display: flex;
        padding: 10px !important;
        justify-content: space-evenly ;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);

        img{
            width: 15%;
            object-fit: contain;
        }
    }
}