.listProducts {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: start;
 /* For Safari */

    .row{
        justify-content: center;
        width: 100%;
        padding-top: 6px !important;

        ul.LeftMenu{
            height: auto;
        }

        h6{
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0%;
            color: rgba(1, 87, 155, 1);

            width: 100%;
            max-width: 1200px;
            margin:  10px 0 !important;
            padding: 0 10px  !important;
        }

        .listProducts__products__ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            list-style: none;
            width: 100%;
            max-width: 1200px;
            margin: 0 auto !important;
            padding: 10px !important;
            gap: 20px;

            li{
                font-weight: 450;
                font-size: 14px;
                line-height: 6px;
                letter-spacing: 0%;
                
                color: gray;

                &:hover{
                    color: rgba(1, 87, 155, 1);
                }
            }
        }
    }
  }
  
  .modalBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 140px;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 1;
    -webkit-backdrop-filter: blur(4px); /* This creates the blur effect */
    backdrop-filter: blur(4px);
  }
  
  .listProducts__products {
    background: white;
    border-radius: 8px;
    padding: 0px 10px !important;
    /* Additional styling for product list goes here */
  }
  