.GamerRow{
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 350px;

    .slider-container {
        height: 350px;
    }

    button.slick-arrow{
            display: none !important;
    }
    .slick-list{
        height: 300px;
    }

    .slick-slide{
        height: 300px;
        width: 410px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .slick-current{
        width: 400px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;

        .GamerBox{
            fill: rgba(138, 43, 226, 0.6);
            box-shadow: 1px 1px 12px 15px rgba(138, 43, 226, 0.6); /* Violet shadow */
            background: rgba(138, 43, 226, 0.3);
            border-radius: 30%; /* Optional: rounded corners */
            transition: 1s;

            p.GamerP{
                color: white !important;
            }
        }
    }

    .GamerBox{
        width: 250px !important;
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        justify-items: end;
        background-color: white;
        border-radius: 50%;
        padding: 5px;
        transition: 1s;


        img{
            max-width: 100%;
            height: 200px;
            object-fit: contain;
            justify-self: center !important;
        }

        p.GamerP{
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
            text-align: center;
            align-self: end;
        }
    }
}