.seeMoreRow{
justify-content: end;
    p.seeMoree{
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.02em;
        color:rgba(1, 87, 155, 1);
    }
}