.UniTitleRow{
    text-align: left;
    h2.UniTitle{
        font-family: 'Lato';
        font-size: 28px;
        font-weight: 500;
        line-height: 32px;
        text-align: left;
        margin-bottom: 24px !important;
    }
}