.gameZone{
    margin-top: 50px;
    background: rgba($color: rgba(34, 39, 94, 1), $alpha: 1) !important;
    padding: 50px 0;
    max-height: 2900px;

    h2{
        color: white;
    }

    .ProductBox{
        background: white;
        transition: .3s;
        &:hover{
            background: rgba($color: #000000, $alpha: .3) !important;
            padding: 7px;

            p.ProductFullName, div.ratingComment {
                span{

                    color: white;

                }
                    color: white;
            }


        }


    
}
}