
.slider-container {
    width: 1500px;
    max-width: 100%;
    height: 110px;
    align-items: center;
    margin: 0 auto;
    padding: 0px;   
    .slick-slider {
        div{
            div{
                justify-content: center;
                justify-items: center;
            }
        }
        .slick-dots{
            display: none !important;
            }
    }
    .HederBox{
        width: 110px;
        height: 110px;
        align-content: center !important;
        justify-items: center !important;
        justify-content: center !important;
        text-align: center !important;

        img{
            width: 60px;
            height: 60px;
            object-fit: none;
            justify-self: center;
        }

        p.HdrP{
            margin-top: 6px !important;
            display: flex;
            flex-wrap: wrap;
            font-family: 'Lato';
            font-size: 12px;
            font-weight: 600;
            line-height: 12px;
        }
    }    
}
